/* this is where all of your CSS styles go */

.grid_container {
	width: 450px;
	height: 100px;
	position: relative;
	left: 50%;
	top: 48%; /* for optical centering */
	margin-top: 200px;
	margin-left: -190px;


}

.mono {
	font-family: 'Futura';
	font-size: 6em;
	float: left;
	margin-left: 5px;	
}

.plus {
	font-family: 'Futura';
	font-size: 6em;
	float: left;
	margin-left: 5px;
	opacity: 0;

}


@keyframes e_fade {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.e {
	animation: e_fade 2s;
	position:relative;
}

@keyframes plus_fade {
	0% {opacity: 0;}
	100% {opacity: 1; color: red; font-size: 30em; top: -960px}
}

.plus {
	animation: plus_fade 2s;
	position:relative;
	z-index: -1;
}

@keyframes l_move {
	0%, 100% {right: 0px}
	100% {right: 75px}

}

.l { 
	animation: l_move 2s;
	position: relative;
 }

@keyframes u_move {
	0%, 100% {left: 0px}
	100% {left: 50px}

}

.u { 
	animation: u_move 2s;
	position: relative;
 } 